.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.states-list {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.population {
    margin-top: 30px;
}

.population-value {
    margin-bottom: 10px;
}